# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Build artifacts
target/
*.class

# IntelliJ files
.idea/
*.iml
out/

# Log files
*.log

# OS files
.DS_Store